@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

.form {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
  
  .form * {
    box-sizing: border-box;
    line-height: 1.5;
  }
  
  .form__title {
    font-size: 2em;
    font-weight: 700;
  }
  
  .form__item {
    display: flex;
    flex-direction: column;
  }
  
  .form__item > * {
    align-self: flex-start;
  }
  
  .form__label {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding: 10px 0;
  }
  
  .form__input {
    -webkit-appearance: none;
  
    width: 100%;
    max-width: 650px;
  
    /* Fix for Safari/iOS date fields */
    min-height: calc(0.9em + (0.5em * 2) + 0.6em);
  
    padding: 0.5em;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
  
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
    transition: background 0.25s, border-color 0.25s, color 0.25s;
  }
  
  .form__input:focus {
    background: #ffffff;
  }
  
  .form__input::placeholder {
    color: #bbbbbb;
    font-style: italic;
  }
  
  .form__input--error {
    color: #d50000;
    background: #fff8f8;
    border-color: #d50000;
  }
  
  .form__input--error::placeholder {
    color: #ffbfbf;
  }
  
  .form__error {
    padding-top: 10px;
    color: #d50000;
    font-size: 0.9em;
    visibility: hidden;
  }
  
  .form__input--error + .form__error {
    visibility: visible;
  }
  
  .form__input--small {
    max-width: 250px;
  }
  
  textarea.form__input {
    resize: none;
    min-height: 200px;
  }
  
  .form__btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    padding: 10px 16px;
    margin: 10px 0;
  
    color: #ffffff;
    background: #08488f;
    border: 2px solid #063c7a;
    border-radius: 3px;
  
    cursor: pointer;
    outline: none;
  }
  
  .form__btn:active {
    background: #063c7a;
  }
  
  input:invalid {
    border: 1px solid red;
  }

  input:valid {
    border: 1px solid #dddddd;
  }

  select:invalid {
    border: 1px solid red;
  }

  select.valid {
    border: 1px solid #dddddd
  }
